@import '~normalize-scss/sass/normalize/import-now';
@import '~breakpoint-sass/stylesheets/breakpoint';
@import './variables';

* {
  box-sizing: border-box;
}


body {
  // background: $onelaw-background-color;
  color: $onelaw-text-color;
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color: $onelaw-heading-color;
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: white;
    text-decoration: underline;
  }
}
