$zindex-fixed: 900;
$zindex-particles: 100;

$base-spacing: 1.5em;

// Main menu
$menu-transition-time: 0.2s;
$menu-item-padding: 0.7em;
$link-text-color: rgb(64, 64, 64);

// Breakpoints
$medium-screen: 768px;

// Colors
$color-error: #f44336;
$onelaw-background-color: black;
$onelaw-text-color: rgba(255, 255, 255, 0.75);
$onelaw-heading-color: rgba(255, 255, 255, 1);
$onelaw-grey: #666;
