@import '../../sass/variables'

.splash-screen
  background-color: $onelaw-background-color
  box-sizing: border-box
  height: calc(100vh - 3em)
  display: flex
  flex-direction: column
  justify-content: center
  font-family: Arial

  .logo
    width: 50vw
    max-width: 500px
    margin: auto
