@import ../../sass/variables
  
.page
  display: flex
  flex-direction: column
  justify-content: center
  min-height: 100vh
  padding-left: $base-spacing
  padding-right: $base-spacing
  padding-top: 3em // Same as <Header> height
  max-width: 580px
  margin: auto