@import '../../sass/variables'

// https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_menu_icon_js
.menu-toggler
  z-index: $zindex-fixed + 10
  cursor: pointer
  position: fixed
  top: 1.1em
  right: $base-spacing

  .bar1, .bar2, .bar3
    width: 24px // Squared X requires the width to be: height*3 + margin*4
    height: 2px
    background-color: white
    margin: 7px 0
    transition: 0.2s

  &.opened // Open
    background-color: white // If we have scroll we cheat and avoid visual overlap
    .bar1, .bar2, .bar3
      background-color: $onelaw-background-color
    .bar1
      -webkit-transform: rotate(-45deg) translate(-6px, 7px)
      transform: rotate(-45deg) translate(-6px, 7px)

    .bar2
      opacity: 0

    .bar3
      -webkit-transform: rotate(45deg) translate(-6px, -7px)
      transform: rotate(45deg) translate(-6px, -7px)
